body {
  background-image: linear-gradient(rgb(255, 202, 239), rgb(233, 233, 233));

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 275px;
  height: 425px;
}



.tuneoutlogo {
  padding: 15px;
  align-self: center
}



.idBtn {

}